ADFProAmarnath/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ADFProAmarnath"
		},
		"llSQlDb_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'llSQlDb'"
		},
		"ll_silver_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'll_silver'"
		},
		"ls_database_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_database'"
		},
		"ls_datalake_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_datalake'"
		},
		"ls_rest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ls_rest'"
		},
		"llSQlDb_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlproserver2.database.windows.net"
		},
		"llSQlDb_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "prodsqldb"
		},
		"llSQlDb_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Amarnath"
		},
		"ll_silver_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dfpro.dfs.core.windows.net/"
		},
		"ls_database_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sqlproserver2.database.windows.net"
		},
		"ls_database_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "prodsqldb"
		},
		"ls_database_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Amarnath"
		},
		"ls_datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dfpro.dfs.core.windows.net/"
		},
		"ls_rest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": " https://pokeapi.co/api/v2/pokemon"
		},
		"ls_rest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "Amar"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dummy_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Wait1",
						"type": "Wait",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/llSQlDb')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('llSQlDb_properties_typeProperties_server')]",
					"database": "[parameters('llSQlDb_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('llSQlDb_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('llSQlDb_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ll_silver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ll_silver_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ll_silver_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_database')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('ls_database_properties_typeProperties_server')]",
					"database": "[parameters('ls_database_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('ls_database_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_database_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datalake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datalake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_datalake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_rest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('ls_rest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('ls_rest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_rest_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "llSQlDb",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/llSQlDb')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_Silver_Sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ll_silver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/sales_delta",
						"fileSystem": "root"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ll_silver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_Parquet_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Orders",
						"fileSystem": "sink"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_cdc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "cdc.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"cdc_timestamp": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_database')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_database",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_database')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_empty_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "empty.json",
						"folderPath": "monitor",
						"fileSystem": "source"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_getfiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "files",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/p_ds_dynamic')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_container": {
						"type": "string"
					},
					"p_folder": {
						"type": "string"
					},
					"p_file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().p_file",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().p_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().p_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_Incremental_Load_Or_Delta_Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "GetNewWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Sales WHERE ModifiedDate > '2025-01-10 12:00:00' AND ModifiedDate <= '2026-06-08 20:15:00'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_SQL_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "sales"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Silver_Sales",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "GetOldWatermark",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT LastWatermarkValue FROM dbo.ControlWatermark WHERE TableName = 'Sales';",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "ControlWatermark"
								}
							}
						}
					},
					{
						"name": "GetNewWatermark",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "GetOldWatermark",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT MAX(ModifiedDate) AS NewWatermarkValue FROM dbo.Sales;",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "ControlWatermark"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/DS_Silver_Sales')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/2_trigger_when_file_exists')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "root",
									"p_folder": "incoming/orders/",
									"p_file": "''"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('Get Metadata').output.childItems),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "NotifyIFFileNotPresent",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://prod-00.northcentralus.logic.azure.com:443/workflows/5081dd836a87406384e68a787e3bbd3f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=8StN_jlDQ5TBuNrfXD4cxp7glKwdFJqid4aDfkYcGys",
										"body": {
											"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Status\": \"No files found - Execution Skipped\",\n    \"runId\": \"@{pipeline().RunId}\"\n}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "CopychildData",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "OrderID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CustomerID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CustomerID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderTotal",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderTotal",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "root",
												"p_folder": "incoming/orders",
												"p_file": "orders2.csv"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "root",
												"p_folder": "raw/sales",
												"p_file": "order.csv"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/p_ds_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_Event_based_trigger')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "root",
									"p_folder": "incoming/orders/",
									"p_file": "''"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Get Metadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(length(activity('Get Metadata').output.childItems),0)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "NotifyIFFileNotPresent",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {},
										"url": "https://prod-00.northcentralus.logic.azure.com:443/workflows/5081dd836a87406384e68a787e3bbd3f/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=8StN_jlDQ5TBuNrfXD4cxp7glKwdFJqid4aDfkYcGys",
										"body": {
											"value": "{\n    \"PipelineName\": \"@{pipeline().Pipeline}\",\n    \"Status\": \"No files found - Execution Skipped\",\n    \"runId\": \"@{pipeline().RunId}\"\n}",
											"type": "Expression"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "CopychildData",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "OrderID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "CustomerID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CustomerID",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderTotal",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderTotal",
														"type": "String",
														"physicalType": "String"
													}
												},
												{
													"source": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "OrderDate",
														"type": "String",
														"physicalType": "String"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "root",
												"p_folder": "incoming/orders",
												"p_file": "orders.csv"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "root",
												"p_folder": "raw/sales",
												"p_file": "order.csv"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_Dynamic",
								"type": "DatasetReference",
								"parameters": {
									"p_container": "root",
									"p_folder": "incoming/orders",
									"p_file": "orders.csv"
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_Dynamic')]",
				"[concat(variables('factoryId'), '/datasets/p_ds_dynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "lkp_cdc",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "ds_cdc",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "total_results",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "lkp_cdc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_database",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "select count(*) as total_count from @{pipeline().parameters.schema}.@{pipeline().parameters.table} where last_updated > '@{if(empty(pipeline().parameters.backdate),activity('lkp_cdc').output.value[0].cdc_timestamp,pipeline().parameters.backdate)}'",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "total_results",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(activity('total_results').output.resultsets[0].rows[0].total_count,0)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "load",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "select * from @{pipeline().parameters.schema}.@{pipeline().parameters.table} where last_updated > '@{if(empty(pipeline().parameters.backdate),activity('lkp_cdc').output.value[0].cdc_timestamp,pipeline().parameters.backdate)}'",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_database",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_Parquet_target",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "change_cdc",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "max_CDC",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "cdc_timestamp",
													"value": {
														"value": "@activity('max_CDC').output.resultSets[0].rows[0].cdc_timestamp",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ds_empty_json",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_cdc",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "max_CDC",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "load",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "ls_database",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "select max(last_updated) as cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"schema": {
						"type": "string",
						"defaultValue": "source"
					},
					"table": {
						"type": "string",
						"defaultValue": "orders"
					},
					"backdate": {
						"type": "string",
						"defaultValue": "2025-09-24"
					}
				},
				"variables": {
					"test": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-05-26T06:14:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_cdc')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_database')]",
				"[concat(variables('factoryId'), '/datasets/ds_database')]",
				"[concat(variables('factoryId'), '/datasets/ds_Parquet_target')]",
				"[concat(variables('factoryId'), '/datasets/ds_empty_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Schem_Driven')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_getfiles",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEachFile",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "dataLoad",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@if(equals(item().name,'customers.csv'),pipeline().parameters.customers_schema,if(equals(item().name, 'drivers.csv'),pipeline().parameters.drivers_schema,pipeline().parameters.trips_schema))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "source",
												"p_folder": "files",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "p_ds_dynamic",
											"type": "DatasetReference",
											"parameters": {
												"p_container": "sink",
												"p_folder": "schema",
												"p_file": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"customers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "email",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "signup_date",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"drivers_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "first_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_name",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "phone_number",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_rating",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "city",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					},
					"trips_schema": {
						"type": "object",
						"defaultValue": {
							"type": "TabularTranslator",
							"mappings": [
								{
									"source": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "driver_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "customer_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "vehicle_id",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_start_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_end_time",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "start_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "end_location",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "distance_km",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "fare_amount",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "payment_method",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "trip_status",
										"type": "String",
										"physicalType": "String"
									}
								},
								{
									"source": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									},
									"sink": {
										"name": "last_updated_timestamp",
										"type": "String",
										"physicalType": "String"
									}
								}
							],
							"typeConversion": true,
							"typeConversionSettings": {
								"allowDataTruncation": true,
								"treatBooleanAsNumber": false
							}
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-06-08T05:36:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_getfiles')]",
				"[concat(variables('factoryId'), '/datasets/p_ds_dynamic')]"
			]
		}
	]
}